<div class="container support-tops">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Don Easy Community</h1>
      <p class="text-center">Welcome! Users complete a profile form to be visible in this network.</p>
      <ul class="list-unstyled">
        <% @users.each do |user| %>
          <% if user.profile %>
            <li>
              <div class="well row <%= cycle('color-bg','') %>">
                <div class="col-md-2">
                  <% if user.profile.avatar %>
                    <%= link_to user do %>
                      <%= image_tag user.profile.avatar.url, class: 'user-index-avatar' %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-md-10">
                  <%= link_to user do %>
                    <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                  <% end %>
                    <h4><%= user.profile.role %>
                      <% if user.plan_id == 2 %>
                        <span class="label label-danger">PRO</span>
                      <% end %>
                    <br/><%= user.profile.job_title %>
                    <br/><%= user.profile.current_member_union %>
                    </h4>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>